.main-container{
  display: flex;
  justify-content: space-around;
}

.cart-container{
  width: 350px;
  box-shadow: 4px 4px 8px gray;
}

.card{
  width: 300px;
  text-align: center;
  border: 1px solid gray;

}

.card-img{
  width: 100px;

}
.card-footer{
  display: flex;
  justify-content: space-around;
}

.cart-title{
  display: flex;
  justify-content: space-around;
}
.cart-info{
  display: flex;
  justify-content: space-around;
}
.btn-dlt{
  padding: 15p;
  padding-top: 0px;
  margin: 15px;
}
